<div class="view-meeting">
  <h1><span class="title">{{meeting.title}}</span></h1>
  <div>
    <span style="margin-right: 10px;"><i class="fa fa-users"></i> 0 {{"views.meeting-view.participants" | translate}}</span>
    <span><i class="fa fa-calendar"></i> {{meeting.slots.length}} {{"views.meeting-view.timeSlots" | translate}}</span>
  </div>
  <div class="description_title">{{"views.meeting-view.description" | translate}}</div>
  <div class="description_text">
    {{meeting.description}}
  </div>
  <uib-tabset>
    <uib-tab heading="{{'views.meeting-view.table' | translate}}">
      <br>
      <div ng-if="is_loaded && slotsCalendar.years">
        <my-table years='slotsCalendar.years' availabilities="meeting.availabilities"></my-table>
        <h1 style="text-align: right;">
          <a class="btn btn-success btn-md" href="#/">{{"views.meeting-view.saveParticipant" | translate}}</a>
        </h1>
      </div>
      <div ng-if="meeting.slots<=0">
        <h1><span class="advert">{{ "views.meeting-view.advert1" | translate }}</span></h1>
        <h4>{{ "views.meeting-view.advert2" | translate }} <span style="font-style: italic">{{meeting.title}}</span>.</h4>
        <h1 style="text-align: center;"><a class="btn btn-primary btn-md" ng-click="newTimeSlot()"><i class="fa fa-plus"></i> Create new TimeSlot</a></h1>
      </div>
      <!--{{slotsCalendar}}-->
      <style>
        .borderClass{
          border: solid;
          padding: 0px;
          margin: 0px;
          overflow: hidden;
        }
        .spanCustomClass{
          display: inline-block;
          text-align: center;
          padding: 10px 5px;
        }
      </style>
    </uib-tab>
    <uib-tab heading="{{'views.meeting-view.options' | translate}}">
        <div class="options_box">
          <div class="title">{{"views.meeting-view.meetingProposal" | translate}}</div>
          <a class="action"><i class="fa fa-pencil"></i>{{"views.meeting-view.edit" | translate}}</a>
        </div>
      <div class="options_box">
        <div class="title">{{"views.meeting-view.participants" | translate}}</div>
          <a class="action"><i class="fa fa-user-plus"></i>{{"views.meeting-view.addParticipant" | translate}}</a>
        </div>
      <div class="options_box">
        <div class="title">{{"views.meeting-view.timeSlots" | translate}}</div>
          <a class="action" ng-click="newTimeSlot()">{{"views.meeting-view.addTimeSlot" | translate}}</a>
        </div>
    </uib-tab>
  </uib-tabset>
</div>
