<div class="view-meeting">
  <h1><span class="title">{{meeting.title}}</span></h1>
  <div>
    <span style="margin-right: 10px;"><i class="fa fa-users"></i> {{meeting.availabilities.length}}  Participants</span>
    <span><i class="fa fa-calendar"></i> {{meeting.slots.length}} TimeSlots</span>
  </div>
  <div>
    <span></span>
    <span></span>
  </div>
  <div class="description_title">Description:</div>
  <div class="description_text">
    {{meeting.description}}
  </div>
  <uib-tabset>
    <uib-tab heading="table">
      <style>
        .borderClass{
          border: solid;
          padding: 0px;
          margin: 0px;
          overflow: hidden;
        }
        .spanCustomClass{
          display: inline-block;
          text-align: center;
        }
        .spanCustomClass .special{
          width: 100%;
          /*line-height: 0.8;*/
        }
        .customTd{
          text-align: center;
          border: solid 1px rgba(237,237,237,1);
        }
        .customTd_nothing{
          text-align: center;
          border: none !important;
        }
        .customTd_year{
          text-align: center;
          color: rgba(230,230,230,1);
          border: solid 1px rgba(237,237,237,1);
          background-color: rgba(18,86,153,1);
        }
        .customTd_month{
          text-align: center;
          border: solid 1px rgba(237,237,237,1);
          background: dodgerblue;
        }
        .customTd_day{
          text-align: center;
          border: solid 1px rgba(237,237,237,1);
          background: lightskyblue;
        }
        .customTd_grey{
          text-align: center;
          border: solid 1px rgba(237,237,237,1);
          background: rgba(230,230,230,1);
        }
        .customTd_yes{
          text-align: center;
          border: solid 1px rgba(237,237,237,1);
          background: greenyellow;
        }
        .customTd_no{
          text-align: center;
          border: solid 1px rgba(237,237,237,1);
          background: red;
        }
        .customTd_maybe{
          text-align: center;
          border: solid 1px rgba(237,237,237,1);
          background: lightgrey;
        }
        .disabled{
          color: grey;
          cursor: context-menu !important;
        }
        .disabled:hover{
          color: grey;
          text-decoration: none;
        }
      </style>
      <div ng-if="is_loaded && slotsCalendar.years" style="padding: 10px 5px;">
        <my-table years='slotsCalendar.years' availabilities="meeting.availabilities"></my-table>
        <h1 style="text-align: right;">
          <a class="btn btn-success btn-md" href="#/">Save Participant</a>
        </h1>
      </div>
      <div ng-if="meeting.slots<=0">
        <h1><span class="advert">It seems that your Meeting Proposal does not have any TimeSlot assigned!</span></h1>
        <h4> click the next button to create a new TimeSlot for <span style="font-style: italic">{{meeting.title}}</span>.</h4>
        <h1 style="text-align: center;"><a class="btn btn-primary btn-md" ng-click="newTimeSlot()"><i class="fa fa-plus"></i> Create new TimeSlot</a></h1>
      </div>
    </uib-tab>
    <uib-tab heading="statistics" select="updateCharts()">
      <h3>
        Statistics<br>
        <small>Need some help for choosing the best time slot? Here you can find some useful charts with the actual state of the polling</small>
      </h3>
      <br>
      <h4>
        1. Bar Chart<br>
        <small>In this chart you can check which time slot has confirmed more people (blue bars) but also shows you which time slot has
          more potential attendants (grey bars), showing the sum of confirmed and "maybe" participants.
        </small>
        <br>
      </h4>
      <div class="poll-chart center-block" style="width: 70%">
        <canvas id="barchart" class="chart chart-bar" chart-data="barData" chart-labels="barLabels" chart-series="barSeries"></canvas>
      </div>
      <br>
      <h4>
        2. Doughnut Chart<br>
        <small>In this three doughnut charts you can see in a very easy way which time slot has confirmed more people, which has more
          possible assistants and also which time slot is definitely the worst option!
        </small>
        <div class="row" style="margin-top: 20px;">
          <div id="yes" class="col-xs-4">
            <h5>Yes</h5>
            <canvas id="yes-doughnut" class="chart chart-doughnut"
                    chart-data="yesData" chart-labels="doughnutLabels">
            </canvas>
          </div>
          <div id="maybe" class="col-xs-4">
            <h5>Maybe</h5>
            <canvas id="maybe-doughnut" class="chart chart-doughnut"
                    chart-data="maybeData" chart-labels="doughnutLabels">
            </canvas>
          </div>
          <div id="no" class="col-xs-4">
            <h5>No</h5>
            <canvas id="no-doughnut" class="chart chart-doughnut"
                    chart-data="noData" chart-labels="doughnutLabels">
            </canvas>
          </div>
        </div>
      </h4>

    </uib-tab>
    <uib-tab heading="options">
        <div class="options_box">
          <div class="title">MeetingProposal</div>
          <a class="action" ui-sref="editMeeting({id: meetingId, key: key})"><i class="fa fa-pencil"></i>Editar</a>
        </div>
      <div class="options_box">
        <div class="title">Participants</div>
          <a class="action" ui-sref="sendMeeting({id: meetingId, key: key})"><i class="fa fa-user-plus"></i>Agregar participant</a>
        </div>
      <div class="options_box">
        <div class="title">TimeSlots</div>
          <a class="action" ng-click="newTimeSlot()">Afegir time slot</a>
        <br>
          <a ng-class="meeting.slots.length==0 ? 'disabled' : 'action'" ng-click="meeting.slots.length==0 || deleteTimeSlot()">Esborrar time slot</a>
        </div>
    </uib-tab>
  </uib-tabset>
</div>
