<div class="container">
    <h1>Meeting {{meetingId}}</h1>

    <h2>Participants</h2>

    <!-- Todos input -->

    <h3 ng-hide="finalAdminKey!=null">Afegeix la clau:</h3>

    <form role="form" ng-submit="addKey()" ng-hide="finalAdminKey!=null">
        <div class="row">
            <div class="input-group">
                <input type="text" ng-model="adminKey" placeholder="Insert the admin key"
                       class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-primary" ng-click="addKey" value="Add">ADD</button>
        </span>
            </div>
        </div>
    </form>


    <h3 ng-hide="finalAdminKey==null">Afegeix un participant:</h3>

    <form ng-hide="finalAdminKey==null" role="form" ng-submit="addParticipant()">
        <div class="row">
            <div class="input-group">
                <input type="email" ng-model="participant.participant" placeholder="Who can vote for the meeting?"
                       class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">ADD</button>
        </span>
            </div>
        </div>
    </form>


    <h3>Participants per afegir:</h3>

    <div>
        <ul ng-hide="participants.length != 0" style="list-style-type: none">
            <li>Encara no hi ha cap participant per afegir.</li>
        </ul>
        <ul ng-hide="participants.length == 0" ui-sortable ng-model="participants" style="list-style-type: none">
            <div ng-repeat="participant in participants" style="margin: 5px;">
        <span style="float: left;">
         <button class="btn btn-danger" ng-click="removeParticipant($index)" aria-label="Remove">X</button>
       </span>
                <li style="cursor: move; padding: 7px 7%;background: rgba(103, 87, 110, 0.5); border-radius: 10px;">
                    {{participant.participant}}
                </li>
            </div>
        </ul>
    </div>


    <h3>Participants ja afegits:</h3>


    <div>
        <ul ng-hide="availabilities.length != 0" style="list-style-type: none">
            <li>Encara no hi ha cap participant ja afegit.</li>
        </ul>
        <ul ng-hide="availabilities.length == 0" style="list-style-type: none">
            <div ng-repeat="availability in availabilities" style="margin: 5px;">
                <li style=" padding: 7px 7%;background: rgba(103, 87, 110, 0.5); border-radius: 10px;">
                    {{availability.participant}}
                </li>
            </div>
        </ul>
    </div>


    <div ng-hide="participants.length == 0" class="ng-hide">

    <span>
      <button class="btn btn-primary" ng-click="submitParticipants()" aria-label="Submit" style="margin-top: 10px;">
          Submit
      </button>
        </span>
    </div>
    <div ng-hide="participants.length != 0" class="ng-hide">

    <span>
      <button class="btn .disabled" ng-click="" aria-label="Submit" style="margin-top: 10px;">
          Submit
      </button>
        </span>
    </div>

    <span style="float:left">
        <button class="btn btn-danger" ui-sref="viewMeeting({id: meetingId, key: finalAdminKey})" aria-label="Submit"
                style="margin-top: 10px;">
            Cancel
        </button>
    </span>


</div>
